version: '3.8'

services:
  # PostgreSQL Database
  postgres:
    image: postgres:16-alpine
    container_name: social-comm-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 141532
      POSTGRES_DB: social_communication
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - social-comm-network

  # Redis Cache
  redis:
    image: redis:7-alpine
    container_name: social-comm-redis
    command: redis-server --appendonly yes
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - social-comm-network

  # Application
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: social-comm-app
    expose:
      - "3000"
    environment:
      NODE_ENV: production
      PORT: 3000
      DATABASE_URL: postgresql://postgres:141532@postgres:5432/social_communication?schema=public
      REDIS_HOST: redis
      REDIS_PORT: 6379
      JWT_ACCESS_SECRET: ${JWT_ACCESS_SECRET:-your-super-secret-access-token-key-change-in-production}
      JWT_REFRESH_SECRET: ${JWT_REFRESH_SECRET:-your-super-secret-refresh-token-key-change-in-production}
      CORS_ORIGINS: http://localhost:80,http://localhost:5173,http://localhost
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    volumes:
      - ./uploads:/app/uploads
      - ./logs:/app/logs
    networks:
      - social-comm-network
    restart: unless-stopped

  # Nginx Reverse Proxy
  nginx:
    image: nginx:alpine
    container_name: social-comm-nginx
    ports:
      - "80:80"
      # - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./logs/nginx:/var/log/nginx
    depends_on:
      - app






    networks:
      - social-comm-network
    restart: unless-stopped

volumes:
  postgres_data:
  redis_data:

networks:
  social-comm-network:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.18.30.0/27

